{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription sur le site</h1>

    {{ form_start(form) }}


    {#
    {{ form_widget(form) }}
    #}
    {{ form_row(form.user_pseudo, {'label': 'Pseudo', 'attr':{'placeholder': 'Votre Pseudo ...', 'class':'form-control'}}) }}
    {{ form_row(form.user_password, {'label': 'Mot de Passe', 'attr':{'placeholder': 'Votre Mot de Passe ...', 'class':'form-control'}}) }}
    {{ form_row(form.user_mail, {'label': 'Adresse Mail', 'attr':{'placeholder': 'Votre Adresse Email ...', 'class':'form-control'}}) }}


    <button type="submit" class="btn btn-success"> Inscription ! </button>

    {{ form_end(form) }}
{% endblock %}