{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription sur le site</h1>

    {{ form_start(form) }}


    {#
    {{ form_widget(form) }}
    #}
    {{ form_row(form.user_pseudo, {'label': '*****', 'attr':{'placeholder': 'Votre Pseudo ...', 'class':'form-control'}}) }}
    {{ form_row(form.user_password, {'attr':{'placeholder': 'Votre Mot de Passe ...'}}) }}
    {{ form_row(form.user_mail, {'attr':{'placeholder': 'Votre Adresse Email ...'}}) }}


    <button type="submit" class="btn btn-success"> Inscription ! </button>

    {{ form_end(form) }}
{% endblock %}