{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Article_titre</th>
                <td>{{ article.articleTitre }}</td>
            </tr>
            <tr>
                <th>Article_contenu</th>
                <td>{{ article.articleContenu }}</td>
            </tr>
            <tr>
                <th>Article_date</th>
                <td>{{ article.articleDate }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ article.userId }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}


    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
